<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.morningsignout.com.morningsignoff">
    <!--version number of app (e.g. "1.0") is in build.gradle of app module-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/mso_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResultsActivity" />

        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:launchMode = "singleTop"
            android:name=".CategoryActivity" 
            android:configChanges="keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.morningsignout.com.morningsignoff.CategoryActivity" />
        </activity>
        <activity
            android:name=".MeetTheTeamActivity"
            android:label="@string/meet_the_team"
            android:parentActivityName=".CategoryActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.morningsignout.com.morningsignoff.CategoryActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:parentActivityName=".CategoryActivity"
            android:configChanges="keyboardHidden|screenSize">
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.morningsignout.com.morningsignoff.CategoryActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".AboutMSOActivity"
            android:parentActivityName=".CategoryActivity"/>

        <activity
            android:name=".DisqusMainActivity"
            android:parentActivityName=".ArticleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/DisqusTheme">
        </activity>

        <activity
            android:name=".DisqusLogin"
            android:launchMode="singleInstance"
            android:theme="@style/DisqusTheme"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".MTTListViewActivity"/>

        <activity
            android:name=".MTTWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>

</manifest>
