<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.morningsignout.com.morningsignoff" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/mso_small"
        android:label="@string/app_name"
        android:logo="@drawable/mso_small"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResultsActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode = "singleTop"
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.morningsignout.com.morningsignoff.CategoryActivity" />
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:label="@string/article"
            android:parentActivityName=".CategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.morningsignout.com.morningsignoff.CategoryActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_search">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>
